html {
    font-size: 100px;
}
body {
    display: flex;
}
div {
    flex: 1;
}
div:nth-child(1) {
    background-color: pink;
    height: 1rem;
    font-size: .5rem;
    color: #fff;
}
div:nth-child(2) {
    background-color: purple;
    height: 1rem;
    font-size: .5rem;
    color: #fff;
}